<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/card2/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,305},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,305},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,305},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,305},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,305},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,305},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,411},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,412},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,411},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/0a.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,411},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/0b.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,411},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/0c.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,411},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/0d.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,411},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,517},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,518},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,517},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,517},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,517},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,517},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,517},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,623},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,624},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/1a.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,623},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,623},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/1c.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,623},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/1d.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,623},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,623},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,729},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,730},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,729},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,729},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,729},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,729},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,729},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,835},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/2a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,836},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/2b.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,835},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/2c.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,835},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/2d.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,835},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,835},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,835},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,941},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,942},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,941},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,941},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,941},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,941},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,941},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/3a.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,1047},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/3b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1048},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/3c.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1047},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/3d.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1047},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
			<key>image/card2/back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
			<key>image/card2/back3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{105,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,140}</string>
			</dict>
			<key>image/card2/e0.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1047},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/e1.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1047},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/e2.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1047},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/e3.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,1153},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/e4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1154},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/e5.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1153},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/e6.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1153},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/e7.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1153},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/e8.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1153},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/e9.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1153},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/ea.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,1259},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/eb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1260},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/ec.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1366},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/ed.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,1401},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1472},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,1543},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1578},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1684},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1790},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1932},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f6.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,1790},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f7.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,1932},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f8.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1685},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/f9.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1827},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1259},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/fb.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1401},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/fc.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,1543},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/fd.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1685},{104,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,140}</string>
			</dict>
			<key>image/card2/4a.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
			<key>image/card2/5a.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,1},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
			<key>image/card2/6a.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
			<key>image/card2/7a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
			<key>image/card2/8a.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,153},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
			<key>image/card2/9a.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,153},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
			<key>image/card2/aa.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,153},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
			<key>image/card2/ba.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,153},{150,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,197}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>