<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baojiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,638},{210,104}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{210,104}}</string>
                <key>sourceSize</key>
                <string>{350,104}</string>
            </dict>
            <key>greybj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,98}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{338,98}}</string>
                <key>sourceSize</key>
                <string>{350,104}</string>
            </dict>
            <key>huabao.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,426},{210,104}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{210,104}}</string>
                <key>sourceSize</key>
                <string>{350,104}</string>
            </dict>
            <key>leigong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{212,104}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{212,104}}</string>
                <key>sourceSize</key>
                <string>{350,104}</string>
            </dict>
            <key>meidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,214},{210,104}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{210,104}}</string>
                <key>sourceSize</key>
                <string>{350,104}</string>
            </dict>
            <key>sangong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{210,104}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{210,104}}</string>
                <key>sourceSize</key>
                <string>{350,104}</string>
            </dict>
            <key>santiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{210,104}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{210,104}}</string>
                <key>sourceSize</key>
                <string>{350,104}</string>
            </dict>
            <key>tiangong.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{210,104}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{210,104}}</string>
                <key>sourceSize</key>
                <string>{350,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sanggongtext.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc2323a43a518aba468f59ee2ff7c249:1/1$</string>
            <key>textureFileName</key>
            <string>sanggongtext.png</string>
        </dict>
    </dict>
</plist>
