<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meiguiFX_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,154},{13,14}}</string>
                <key>offset</key>
                <string>{-14,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,148},{13,14}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,593},{45,48}}</string>
                <key>offset</key>
                <string>{-25,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,125},{45,48}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,527},{55,64}}</string>
                <key>offset</key>
                <string>{-31,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,109},{55,64}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,134},{77,76}}</string>
                <key>offset</key>
                <string>{-42,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,97},{77,76}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,793},{91,100}}</string>
                <key>offset</key>
                <string>{-48,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,74},{91,100}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,793},{89,128}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{89,128}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{83,130}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{83,130}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,659},{121,132}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,38},{121,132}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,527},{123,132}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,39},{123,132}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,799},{127,140}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,31},{127,140}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,247},{137,142}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{137,142}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{147,132}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,37},{147,132}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,247},{145,136}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,35},{145,136}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{143,144}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{143,144}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,385},{145,132}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{145,132}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,659},{143,138}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{143,138}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,391},{143,134}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{143,134}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,519},{143,138}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,34},{143,138}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{155,136}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{155,136}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{167,142}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{167,142}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{181,150}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{181,150}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{209,172}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{209,172}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>meiguiFX_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,194}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{227,194}}</string>
                <key>sourceSize</key>
                <string>{259,208}</string>
            </dict>
            <key>roseFX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,154},{91,165}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{91,165}}</string>
                <key>sourceSize</key>
                <string>{97,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RoseFX.png</string>
            <key>size</key>
            <string>{499,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:021fc61a8da9653339736b477b27c11e:1/1$</string>
            <key>textureFileName</key>
            <string>RoseFX.png</string>
        </dict>
    </dict>
</plist>
