/.gowv2_popui_PList.Dir
/.gowv2_ui_PList.Dir
/.icon_items_PList.Dir
/.lhj_cloud_open_stage_PList.Dir
/.lhj_cornucopia_PList.Dir
/.lhj_gold_coin_big_PList.Dir
/.lhj_icon_PList.Dir
/.lhj_invincible_big_reward_PList.Dir