<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainGameWinSmall00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,200}</string>
                <key>spriteSourceSize</key>
                <string>{165,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainGameWinSmall01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,200}</string>
                <key>spriteSourceSize</key>
                <string>{165,200}</string>
                <key>textureRect</key>
                <string>{{203,1},{165,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainGameWinSmall02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,200}</string>
                <key>spriteSourceSize</key>
                <string>{165,200}</string>
                <key>textureRect</key>
                <string>{{1,168},{165,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainGameWinSmall03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,200}</string>
                <key>spriteSourceSize</key>
                <string>{165,200}</string>
                <key>textureRect</key>
                <string>{{203,168},{165,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainGameWinSmall04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,200}</string>
                <key>spriteSourceSize</key>
                <string>{165,200}</string>
                <key>textureRect</key>
                <string>{{1,335},{165,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainGameWinSmall05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,200}</string>
                <key>spriteSourceSize</key>
                <string>{165,200}</string>
                <key>textureRect</key>
                <string>{{203,335},{165,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainGameWinSmall06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,200}</string>
                <key>spriteSourceSize</key>
                <string>{165,200}</string>
                <key>textureRect</key>
                <string>{{1,502},{165,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainGameWinSmall07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,200}</string>
                <key>spriteSourceSize</key>
                <string>{165,200}</string>
                <key>textureRect</key>
                <string>{{203,502},{165,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainGameWinSmall.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c317aa7b2ba82d84bbd6c0382f5ebce2:998c9ad9a28c0f5d5eb796a7b71d2812:6a692e85eb61db1e8bef0efdd6876710$</string>
            <key>textureFileName</key>
            <string>MainGameWinSmall.png</string>
        </dict>
    </dict>
</plist>
