<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>showing_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,31}</string>
                <key>spriteSourceSize</key>
                <string>{74,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showing_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,31}</string>
                <key>spriteSourceSize</key>
                <string>{74,31}</string>
                <key>textureRect</key>
                <string>{{77,1},{74,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>showing_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,31}</string>
                <key>spriteSourceSize</key>
                <string>{74,31}</string>
                <key>textureRect</key>
                <string>{{1,34},{74,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showing_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,29}</string>
                <key>spriteSourceSize</key>
                <string>{74,31}</string>
                <key>textureRect</key>
                <string>{{1,67},{74,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>showing.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea2c2d6b8194a4c5a705a249c35c38ff:e95c27e0ce266d6ebfa31adbe9cbdf7f:81f6211b5866e62a7a37195e3fe074f6$</string>
            <key>textureFileName</key>
            <string>showing.png</string>
        </dict>
    </dict>
</plist>
