<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/guild/btn_agree.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,404},{119,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,67}</string>
			</dict>
			<key>image/guild/btn_del.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,649},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>image/guild/btn_delete.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,681},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>image/guild/btn_enterroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,332},{125,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,58}</string>
			</dict>
			<key>image/guild/btn_members.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,614},{63,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,74}</string>
			</dict>
			<key>image/guild/btn_refuse.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,332},{119,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,67}</string>
			</dict>
			<key>image/guild/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,630},{63,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,75}</string>
			</dict>
			<key>image/guild/guild_item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1685},{243,90}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,90}</string>
			</dict>
			<key>image/guild/head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,689},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>
			<key>image/guild/item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,2},{957,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{957,98}</string>
			</dict>
			<key>image/guild/label_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1357},{188,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,79}</string>
			</dict>
			<key>image/guild/member_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1779},{286,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,76}</string>
			</dict>
			<key>image/guild/separate_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2028},{282,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,1}</string>
			</dict>
			<key>image/guild/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,253},{518,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,75}</string>
			</dict>
			<key>image/guild/white_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1859},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>image/guild/guild_item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1685},{243,90}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,90}</string>
			</dict>
			<key>image/guild/apply_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,390},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,95}</string>
			</dict>
			<key>image/guild/btn_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,632},{63,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,74}</string>
			</dict>
			<key>image/guild/edit_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1626},{472,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{472,55}</string>
			</dict>
			<key>image/guild/down_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,2016},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,22}</string>
			</dict>
			<key>image/guild/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,697},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>image/guild/btn_guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1278},{250,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,79}</string>
			</dict>
			<key>image/guild/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,537},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guild/room_head_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1298},{295,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,55}</string>
			</dict>
			<key>image/guild/btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,593},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guild/btn_main.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1216},{260,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,78}</string>
			</dict>
			<key>image/guild/btn_playsetting.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,481},{92,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,74}</string>
			</dict>
			<key>image/guild/btn_add_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,522},{90,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,74}</string>
			</dict>
			<key>image/guild/btn_match.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,332},{114,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,76}</string>
			</dict>
			<key>image/guild/btn_match_member.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,553},{86,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,73}</string>
			</dict>
			<key>image/guild/btn_match_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,490},{87,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,73}</string>
			</dict>
			<key>image/guild/btn_match_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,403},{92,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,76}</string>
			</dict>
			<key>image/guild/btn_match_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1437},{88,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,71}</string>
			</dict>
			<key>image/guild/btn_reset_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,412},{90,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,74}</string>
			</dict>
			<key>image/guild/item_member_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,2},{956,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{956,88}</string>
			</dict>
			<key>image/guild/under_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2016},{360,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,2}</string>
			</dict>
			<key>image/guild/btn_number_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1779},{169,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,105}</string>
			</dict>
			<key>image/guild/img_pagebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,2},{129,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,39}</string>
			</dict>
			<key>image/guild/log_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1549},{518,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,61}</string>
			</dict>
			<key>image/guild/next_page.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1422},{175,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,58}</string>
			</dict>
			<key>image/guild/prev_page.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1484},{175,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,58}</string>
			</dict>
			<key>image/guild/bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,2022},{17,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,9}</string>
			</dict>
			<key>image/guild/check.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,2016},{28,28}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,45}</string>
			</dict>
			<key>image/guild/check_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,489},{34,34}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,45}</string>
			</dict>
			<key>image/guild/item_extra.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2022},{284,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,2}</string>
			</dict>
			<key>image/guild/btn_guild_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,1130},{265,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,82}</string>
			</dict>
			<key>image/guild/btn_match_emotion.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,557},{88,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,71}</string>
			</dict>
			<key>image/guild/btn_match_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1192},{265,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,82}</string>
			</dict>
			<key>image/guild/btn_unsel.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1130},{245,76}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,76}</string>
			</dict>
			<key>image/guild/icon_guild_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1873},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>
			<key>image/guild/icon_math_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,1873},{43,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,42}</string>
			</dict>
			<key>image/guild/separate_line_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,2033},{1,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,40}</string>
			</dict>
			<key>image/guild/item_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,963},{957,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{957,98}</string>
			</dict>
			<key>image/guild/tab1.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1379},{82,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,163}</string>
			</dict>
			<key>image/guild/tab2.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1357},{82,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,163}</string>
			</dict>
			<key>image/guild/btn_mod.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,567},{90,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,57}</string>
			</dict>
			<key>image/guild/btn_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,628},{90,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,57}</string>
			</dict>
			<key>image/guild/btn_admin.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,537},{86,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,73}</string>
			</dict>
			<key>image/guild/tag_admin.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,2016},{26,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,64}</string>
			</dict>
			<key>image/guild/tag_owner.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,2016},{26,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,64}</string>
			</dict>
			<key>image/guild/btn_search.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1361},{72,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,51}</string>
			</dict>
			<key>image/guild/btn_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,459},{91,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,76}</string>
			</dict>
			<key>image/guild/imgNoticeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1000},{622,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{622,40}</string>
			</dict>
			<key>image/guild/imgNoticeIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,2016},{32,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,27}</string>
			</dict>
			<key>image/guild/btnBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,699},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>image/guild/btnItemJoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,253},{146,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,65}</string>
			</dict>
			<key>image/guild/imgRoomsItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,2},{994,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{994,98}</string>
			</dict>
			<key>image/guild/imgRoomsSeparate.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2033},{1,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,87}</string>
			</dict>
			<key>image/guild/btnGuildCreate.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,394},{115,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,61}</string>
			</dict>
			<key>image/guild/btnGuildJoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,403},{115,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,61}</string>
			</dict>
			<key>image/guild/btn_minus_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,475},{90,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,74}</string>
			</dict>
			<key>image/guild/imgGuildsListBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{247,589}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,589}</string>
			</dict>
			<key>image/guild/rank1_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,2016},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>
			<key>image/guild/rank2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,962},{31,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,50}</string>
			</dict>
			<key>image/guild/rank3_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,2016},{29,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,48}</string>
			</dict>
			<key>image/guild/imgGuildText.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,268},{118,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,37}</string>
			</dict>
			<key>image/guild/guidePop.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,1000},{346,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,126}</string>
			</dict>
			<key>image/guild/imgRoomsBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1626},{243,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,179}</string>
			</dict>
			<key>image/guild/imgMatchItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1924},{993,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{993,88}</string>
			</dict>
			<key>image/guild/imgScoreItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,2},{993,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{993,88}</string>
			</dict>
			<key>image/guild/btnPartnerAdmin.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1546},{107,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,73}</string>
			</dict>
			<key>image/guild/btnPartnerMem.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,600},{86,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,73}</string>
			</dict>
			<key>image/guild/bgTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,135},{129,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,39}</string>
			</dict>
			<key>image/guild/imgTitlePartner.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1859},{212,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,58}</string>
			</dict>
			<key>image/guild/imgTitlePartnerMem.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1443},{181,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,57}</string>
			</dict>
			<key>image/guild/deskNumBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,2022},{47,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,24}</string>
			</dict>
			<key>image/guild/desktop10.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,1319},{294,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,209}</string>
			</dict>
			<key>image/guild/desktop12.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,999},{316,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,202}</string>
			</dict>
			<key>image/guild/desktop6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1000},{284,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,188}</string>
			</dict>
			<key>image/guild/desktop8.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,1617},{287,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,187}</string>
			</dict>
			<key>image/guild/desktopInfoBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,332},{146,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,68}</string>
			</dict>
			<key>image/guild/btnSearch.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1361},{193,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>guild.png</string>
			<key>realTextureFileName</key>
			<string>guild.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>