<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/store/daichong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,552},{204,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,61}</string>
			</dict>
			<key>image/store/daichong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,450},{204,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,61}</string>
			</dict>
			<key>image/store/font_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,495},{125,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,57}</string>
			</dict>
			<key>image/store/frame_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{272,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,259}</string>
			</dict>
			<key>image/store/invite_code.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,883},{139,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,43}</string>
			</dict>
			<key>image/store/money_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,627},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>image/store/recharge_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,515},{204,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,61}</string>
			</dict>
			<key>image/store/recharge_room_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,580},{204,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,61}</string>
			</dict>
			<key>image/store/recharge_room_card2.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,226},{204,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,61}</string>
			</dict>
			<key>image/store/recharge_success.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,617},{167,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,40}</string>
			</dict>
			<key>image/store/store_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,836},{100,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,43}</string>
			</dict>
			<key>image/store/tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,2},{657,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{657,63}</string>
			</dict>
			<key>image/store/warning_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,358},{40,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,32}</string>
			</dict>
			<key>image/store/recharge_mark4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,887},{211,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,129}</string>
			</dict>
			<key>image/store/recharge_mark3.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,887},{197,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,129}</string>
			</dict>
			<key>image/store/recharge_mark2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,887},{182,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,123}</string>
			</dict>
			<key>image/store/recharge_mark1.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,887},{169,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,118}</string>
			</dict>
			<key>image/store/dividing_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,2},{1,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,73}</string>
			</dict>
			<key>image/store/recharge_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,434},{182,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,59}</string>
			</dict>
			<key>image/store/invite_code_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,306},{68,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,74}</string>
			</dict>
			<key>image/store/info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,226},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>image/store/recharge_mark328.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,2},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>image/store/recharge_problem.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,265},{89,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,24}</string>
			</dict>
			<key>image/store/recharge_mark128.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,2},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>image/store/recharge_mark18.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,2},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>image/store/recharge_mark68.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>image/store/recharge_mark8.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>image/store/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,552},{179,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,79}</string>
			</dict>
			<key>image/store/recharge_mark30.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>image/store/img_daichong.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,617},{169,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,40}</string>
			</dict>
			<key>image/store/coupon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,663},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>image/store/coupon50.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,226},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>image/store/coupon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,663},{169,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,118}</string>
			</dict>
			<key>image/store/coupon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,887},{190,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,120}</string>
			</dict>
			<key>image/store/frame_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,265},{200,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,229}</string>
			</dict>
			<key>image/store/img_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,462},{221,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,86}</string>
			</dict>
			<key>image/store/img_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,402},{14,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,56}</string>
			</dict>
			<key>image/store/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,469},{203,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,75}</string>
			</dict>
			<key>image/store/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,548},{203,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,75}</string>
			</dict>
			<key>image/store/img_preferential.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,226},{95,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>store.png</string>
			<key>realTextureFileName</key>
			<string>store.png</string>
			<key>size</key>
			<string>{1020,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>