<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/playttz/cardtype/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/110.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/120.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/130.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,58},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,58},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,58},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,115},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,115},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,115},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/45.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,133},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/50.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,133},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,265},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/60.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,172},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/70.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,454},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/75.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,229},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/80.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,229},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/85.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,172},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/90.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,172},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/95.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,361},{130,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,55}</string>
			</dict>
			<key>image/playttz/cardtype/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,310},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playttz/cardtype/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,229},{79,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,44}</string>
			</dict>
			<key>image/playttz/cardtype/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,229},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playttz/cardtype/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,229},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playttz/cardtype/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,229},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playttz/cardtype/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,265},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playttz/cardtype/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,265},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playttz/cardtype/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,275},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playttz/cardtype/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,275},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playttz/cardtype/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,311},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cardtype.png</string>
			<key>realTextureFileName</key>
			<string>cardtype.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>