<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/playys/niu/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,174},{210,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,33}</string>
			</dict>
			<key>image/playys/niu/bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,0},{174,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,71}</string>
			</dict>
			<key>image/playys/niu/gourd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{173,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,73}</string>
			</dict>
			<key>image/playys/niu/jinniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{118,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,68}</string>
			</dict>
			<key>image/playys/niu/meiniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,174},{122,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,68}</string>
			</dict>
			<key>image/playys/niu/niu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,436},{115,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,63}</string>
			</dict>
			<key>image/playys/niu/niu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,373},{116,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,63}</string>
			</dict>
			<key>image/playys/niu/niu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,328},{116,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,64}</string>
			</dict>
			<key>image/playys/niu/niu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,346},{117,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,65}</string>
			</dict>
			<key>image/playys/niu/niu5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,212},{117,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,68}</string>
			</dict>
			<key>image/playys/niu/niu6.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,242},{117,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,65}</string>
			</dict>
			<key>image/playys/niu/niu7.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,307},{114,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,66}</string>
			</dict>
			<key>image/playys/niu/niu8.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,211},{117,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,63}</string>
			</dict>
			<key>image/playys/niu/niu9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{117,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,66}</string>
			</dict>
			<key>image/playys/niu/niuniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,277},{115,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,67}</string>
			</dict>
			<key>image/playys/niu/straight.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{172,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,71}</string>
			</dict>
			<key>image/playys/niu/flush.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,0},{174,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,72}</string>
			</dict>
			<key>image/playys/niu/wuxiaoniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{173,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,73}</string>
			</dict>
			<key>image/playys/niu/yinniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,211},{118,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,66}</string>
			</dict>
			<key>image/playys/niu/yitiaolong.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,73},{173,69}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,73}</string>
			</dict>
			<key>image/playys/niu/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,444},{50,44}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playys/niu/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,463},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playys/niu/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,460},{55,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playys/niu/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,388},{55,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playys/niu/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,388},{55,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playys/niu/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,443},{55,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playys/niu/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,411},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playys/niu/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,455},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playys/niu/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,444},{55,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,44}</string>
			</dict>
			<key>image/playys/niu/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,144},{79,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,44}</string>
			</dict>
			<key>image/playys/niu/straightflush.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,142},{171,69}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,73}</string>
			</dict>
			<key>image/playys/niu/b15.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,223},{79,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,44}</string>
			</dict>
			<key>image/playys/niu/b20.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,302},{79,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,44}</string>
			</dict>
			<key>image/playys/niu/b25.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,384},{79,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,44}</string>
			</dict>
			<key>image/playys/niu/b30.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,344},{79,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,44}</string>
			</dict>
			<key>image/playys/niu/b35.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,381},{79,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,44}</string>
			</dict>
			<key>image/playys/niu/b40.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,411},{79,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>niu.png</string>
			<key>realTextureFileName</key>
			<string>niu.png</string>
			<key>size</key>
			<string>{510,510}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>510</integer>
			<key>height</key>
			<integer>510</integer>
		</dict>
	</dict>
</plist>