<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image/rub_card/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,3562},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,3562},{303,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{303,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,3117},{303,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{303,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1337},{303,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{303,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,3117},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,892},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1782},{303,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{303,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2227},{303,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{303,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2672},{303,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{303,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1337},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/0b.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1782},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/0c.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2227},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2672},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3562},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3117},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,892},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1337},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1782},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2227},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2672},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,447},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,447},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,892},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1337},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1782},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2227},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,2},{303,443}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{303,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,3556},{303,441}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{303,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,447},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,892},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1337},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,2},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,447},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,892},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,447},{305,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/31.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{307,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{307,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,3558},{303,441}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{303,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,3113},{303,441}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{303,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,2670},{303,441}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{303,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/35.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,3115},{305,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{305,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1782},{305,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{305,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{305,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,3113},{303,441}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{303,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/39.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,3558},{303,441}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{303,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2227},{305,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{305,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2672},{305,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{305,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,2225},{303,441}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{303,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2670},{303,441}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{303,441}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{307,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{307,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
            <key>image/rub_card/back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{307,443}}</string>
                <key>sourceSize</key>
                <string>{317,443}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rub_card.png</string>
            <key>size</key>
            <string>{1846,4007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:300adfbc8a9c41acb76cd25ef799c92c$</string>
            <key>textureFileName</key>
            <string>rub_card.png</string>
        </dict>
    </dict>
</plist>
