<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{116,167}</string>
                <key>spriteSourceSize</key>
                <string>{120,167}</string>
                <key>textureRect</key>
                <string>{{260,243},{116,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{118,167}</string>
                <key>spriteSourceSize</key>
                <string>{120,167}</string>
                <key>textureRect</key>
                <string>{{260,123},{118,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,167}</string>
                <key>spriteSourceSize</key>
                <string>{120,167}</string>
                <key>textureRect</key>
                <string>{{260,1},{120,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{255,125}</string>
                <key>spriteSourceSize</key>
                <string>{257,125}</string>
                <key>textureRect</key>
                <string>{{1,255},{255,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,125}</string>
                <key>spriteSourceSize</key>
                <string>{257,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{257,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,125}</string>
                <key>spriteSourceSize</key>
                <string>{257,125}</string>
                <key>textureRect</key>
                <string>{{1,128},{257,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,126}</string>
                <key>spriteSourceSize</key>
                <string>{108,126}</string>
                <key>textureRect</key>
                <string>{{128,255},{108,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,126}</string>
                <key>spriteSourceSize</key>
                <string>{108,126}</string>
                <key>textureRect</key>
                <string>{{128,365},{108,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,126}</string>
                <key>spriteSourceSize</key>
                <string>{108,126}</string>
                <key>textureRect</key>
                <string>{{238,365},{108,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frame.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cead6fd75c11df96700f45b0502f65db:47184a6c0701eddefcedbf7a90a5f8e2:7a8537b1e7d876680d01b5eb9d61f35f$</string>
            <key>textureFileName</key>
            <string>frame.png</string>
        </dict>
    </dict>
</plist>
