<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jidan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,620},{77,76}}</string>
                <key>offset</key>
                <string>{-94,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,214},{77,76}}</string>
                <key>sourceSize</key>
                <string>{333,290}</string>
            </dict>
            <key>jidan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{175,158}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,108},{175,158}}</string>
                <key>sourceSize</key>
                <string>{333,290}</string>
            </dict>
            <key>jidan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,252}}</string>
                <key>offset</key>
                <string>{-38,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{249,252}}</string>
                <key>sourceSize</key>
                <string>{333,290}</string>
            </dict>
            <key>jidan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{243,202}}</string>
                <key>offset</key>
                <string>{39,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,54},{243,202}}</string>
                <key>sourceSize</key>
                <string>{333,290}</string>
            </dict>
            <key>jidan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{159,150}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,104},{159,150}}</string>
                <key>sourceSize</key>
                <string>{333,290}</string>
            </dict>
            <key>jidan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{151,116}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,121},{151,116}}</string>
                <key>sourceSize</key>
                <string>{333,290}</string>
            </dict>
            <key>jidan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,772},{133,122}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,115},{133,122}}</string>
                <key>sourceSize</key>
                <string>{333,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jidan.png</string>
            <key>size</key>
            <string>{253,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6118061eeff6a831f6428d3b88f5d4ea:1/1$</string>
            <key>textureFileName</key>
            <string>jidan.png</string>
        </dict>
    </dict>
</plist>
