<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiuping0.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,66},{26,90}}</string>
                <key>offset</key>
                <string>{14,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,188},{26,90}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
            <key>jiuping1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,66},{28,92}}</string>
                <key>offset</key>
                <string>{13,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,163},{28,92}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
            <key>jiuping2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,66},{26,72}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,90},{26,72}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
            <key>jiuping3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,160},{28,74}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,75},{28,74}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
            <key>jiuping4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,160},{26,90}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,66},{26,90}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
            <key>jiuping5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{60,62}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,71},{60,62}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
            <key>jiuping6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,126}}</string>
                <key>offset</key>
                <string>{2,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{146,126}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
            <key>jiuping7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,130},{146,122}}</string>
                <key>offset</key>
                <string>{2,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{146,122}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
            <key>jiuping8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{146,124}}</string>
                <key>offset</key>
                <string>{2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{146,124}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
            <key>jiuping9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,126}}</string>
                <key>offset</key>
                <string>{2,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{146,126}}</string>
                <key>sourceSize</key>
                <string>{150,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiuping.png</string>
            <key>size</key>
            <string>{384,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3ea32fac54cecb5b573d5bae7abf58d:1/1$</string>
            <key>textureFileName</key>
            <string>jiuping.png</string>
        </dict>
    </dict>
</plist>
