<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{90,80}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{90,80}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>kiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{108,66}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>kiss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{106,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{106,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kiss.png</string>
            <key>size</key>
            <string>{112,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:775d6e6f1ec9f9e969dff5bb900cbcc0:1/1$</string>
            <key>textureFileName</key>
            <string>kiss.png</string>
        </dict>
    </dict>
</plist>
