<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pengbei_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{101,53}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{101,53}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,378},{103,51}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{103,51}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,180},{87,87}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{87,87}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,91},{87,87}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{87,93}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{87,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{105,51}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,35},{105,51}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,198},{87,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{87,71}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,109},{87,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{87,71}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,287},{89,75}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{89,75}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{95,79}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{95,79}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,83}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{99,83}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,269},{87,85}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{87,85}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>pengbei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{87,87}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pengbei.png</string>
            <key>size</key>
            <string>{253,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9376a96afb6ba2ebafa3358b2f3aa147:1/1$</string>
            <key>textureFileName</key>
            <string>pengbei.png</string>
        </dict>
    </dict>
</plist>
