<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iceFX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,226}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{240,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shuitongFX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,170},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>waterFX_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,170},{33,39}}</string>
                <key>offset</key>
                <string>{-30,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{33,39}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,170},{37,43}}</string>
                <key>offset</key>
                <string>{-30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{37,43}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,170},{37,49}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{37,49}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,170},{39,55}}</string>
                <key>offset</key>
                <string>{-28,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{39,55}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,164},{41,61}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{41,61}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,164},{43,67}}</string>
                <key>offset</key>
                <string>{-27,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{43,67}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,154},{45,73}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{45,73}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,107},{45,79}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{45,79}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,158},{47,87}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{47,87}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,107},{49,89}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{49,89}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,176},{51,91}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{51,91}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,160},{59,91}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{59,91}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,160},{67,93}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{67,93}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,105},{69,95}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{69,95}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,87},{71,97}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{71,97}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,87},{71,99}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{71,99}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,87},{75,101}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{75,101}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{81,103}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,26},{81,103}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,113},{81,105}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{81,105}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,109},{83,103}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{83,103}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{83,105}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{83,105}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,85},{83,101}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{83,101}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,109},{83,103}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{83,103}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{85,103}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{85,103}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,85},{83,101}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{83,101}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{83,101}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,29},{83,101}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,2},{81,101}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{81,101}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2},{83,101}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,29},{83,101}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{85,103}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{85,103}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{83,105}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{83,105}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,111},{83,107}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{83,107}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{83,107}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{83,107}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,115},{85,109}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{85,109}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{85,111}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{85,111}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{83,111}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{83,111}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,115},{83,109}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{83,109}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{81,109}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{81,109}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{81,107}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{81,107}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
            <key>waterFX_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{85,105}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{85,105}}</string>
                <key>sourceSize</key>
                <string>{115,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shui_waterFX.png</string>
            <key>size</key>
            <string>{1540,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e04c13f2e08b00c150a7a82c1e3cff0:1/1$</string>
            <key>textureFileName</key>
            <string>shui_waterFX.png</string>
        </dict>
    </dict>
</plist>
