<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>woshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{200,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,48}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>woshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{168,46}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,46}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>woshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{114,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,8},{114,42}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>woshou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,50}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>woshou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{66,46}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>woshou.png</string>
            <key>size</key>
            <string>{670,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d485474c68a6ad63c4752cfec2a39579:1/1$</string>
            <key>textureFileName</key>
            <string>woshou.png</string>
        </dict>
    </dict>
</plist>
