<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/rub_card_word/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,0},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,0},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,0},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,317},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,317},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,317},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,317},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,634},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/0a.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,634},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/0b.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,634},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/0c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,634},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/0d.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,951},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,951},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,951},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,951},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1268},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1268},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1268},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,1268},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1585},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1585},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/1a.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1585},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,1585},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/1c.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1902},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
			<key>image/rub_card_word/1d.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1902},{317,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,443}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>rub_card_word.png</string>
			<key>realTextureFileName</key>
			<string>rub_card_word.png</string>
			<key>size</key>
			<string>{1772,2219}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1772</integer>
			<key>height</key>
			<integer>2219</integer>
		</dict>
	</dict>
</plist>