<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_blur_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{101,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{101,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{83,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{83,132}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{105,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{105,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{109,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{109,132}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{103,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{103,134}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{105,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{105,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,140},{97,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{97,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{115,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{115,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{119,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{119,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{107,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{107,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_blur_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>item_nml_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,140},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>item_nml_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,140},{83,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,90}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>item_nml_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,136},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>item_nml_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,140},{108,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,89}}</string>
                <key>sourceSize</key>
                <string>{108,89}</string>
            </dict>
            <key>item_nml_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,140},{99,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,86}}</string>
                <key>sourceSize</key>
                <string>{99,86}</string>
            </dict>
            <key>item_nml_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,138},{105,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,89}}</string>
                <key>sourceSize</key>
                <string>{105,89}</string>
            </dict>
            <key>item_nml_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,140},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>item_nml_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{114,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,99}}</string>
                <key>sourceSize</key>
                <string>{114,99}</string>
            </dict>
            <key>item_nml_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,123},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>item_nml_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,140},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>item_nml_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{121,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>item_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,238},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_items.png</string>
            <key>size</key>
            <string>{1237,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72043f28385aeac40bb6eb8deb449a26:1/1$</string>
            <key>textureFileName</key>
            <string>icon_items.png</string>
        </dict>
    </dict>
</plist>
