<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,686},{333,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,110}}</string>
                <key>sourceSize</key>
                <string>{333,110}</string>
            </dict>
            <key>flare_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>invincible_big_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{846,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,168}}</string>
                <key>sourceSize</key>
                <string>{846,168}</string>
            </dict>
            <key>radiant_light_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>super_big_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{708,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,143}}</string>
                <key>sourceSize</key>
                <string>{708,143}</string>
            </dict>
            <key>super_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{513,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,127}}</string>
                <key>sourceSize</key>
                <string>{513,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lhj_invincible_big_reward.png</string>
            <key>size</key>
            <string>{997,815}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d84a4dc6af95d247f291fccb0a637a2a:1/1$</string>
            <key>textureFileName</key>
            <string>lhj_invincible_big_reward.png</string>
        </dict>
    </dict>
</plist>
