<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/play/niu/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,790},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,790},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,790},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,790},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,926},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,864},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,864},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,864},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,864},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,869},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{304,177}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/jinniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,183},{304,167}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/meiniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,2},{304,181}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niuniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,354},{304,158}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/wuxiaoniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,804},{304,132}}</string>
				<key>offset</key>
				<string>{0,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/yinniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,187},{304,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/yitiaolong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{304,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,358},{301,140}}</string>
				<key>offset</key>
				<string>{-2,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,437},{301,140}}</string>
				<key>offset</key>
				<string>{-2,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,502},{301,140}}</string>
				<key>offset</key>
				<string>{-2,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,581},{301,140}}</string>
				<key>offset</key>
				<string>{-2,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niu5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,293},{304,140}}</string>
				<key>offset</key>
				<string>{0,-70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niu6.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,660},{296,140}}</string>
				<key>offset</key>
				<string>{-4,-70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niu7.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,516},{301,140}}</string>
				<key>offset</key>
				<string>{-2,-71}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niu8.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,646},{301,140}}</string>
				<key>offset</key>
				<string>{-2,-70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/niu9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,725},{301,140}}</string>
				<key>offset</key>
				<string>{-2,-69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/flush.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,2},{304,80}}</string>
				<key>offset</key>
				<string>{0,-66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/gourd.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,310},{304,80}}</string>
				<key>offset</key>
				<string>{0,-66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/straight.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,618},{304,80}}</string>
				<key>offset</key>
				<string>{0,-66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,287}</string>
			</dict>
			<key>image/play/niu/b15.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,869},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b20.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,869},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b25.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,869},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b30.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,938},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b35.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,938},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>image/play/niu/b40.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,938},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>niu.png</string>
			<key>realTextureFileName</key>
			<string>niu.png</string>
			<key>size</key>
			<string>{1008,1010}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1008</integer>
			<key>height</key>
			<integer>1010</integer>
		</dict>
	</dict>
</plist>