<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/createroom/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,472},{53,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,47}</string>
			</dict>
			<key>image/createroom/bawangzhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,572},{175,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,43}</string>
			</dict>
			<key>image/createroom/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,895},{67,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,51}</string>
			</dict>
			<key>image/createroom/bg_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,380},{90,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,72}</string>
			</dict>
			<key>image/createroom/btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,472},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>
			<key>image/createroom/btn_create_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,549},{212,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,74}</string>
			</dict>
			<key>image/createroom/btn_reduce.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,63},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,44}</string>
			</dict>
			<key>image/createroom/btn_slider1.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1},{160,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,40}</string>
			</dict>
			<key>image/createroom/btn_slider2.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,163},{160,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,40}</string>
			</dict>
			<key>image/createroom/check.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,380},{210,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,45}</string>
			</dict>
			<key>image/createroom/check_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,427},{210,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,45}</string>
			</dict>
			<key>image/createroom/choice.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,474},{210,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,45}</string>
			</dict>
			<key>image/createroom/choice_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,521},{210,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,45}</string>
			</dict>
			<key>image/createroom/classic_niu.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,732},{175,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,44}</string>
			</dict>
			<key>image/createroom/dividing_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1},{1010,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1010,1}</string>
			</dict>
			<key>image/createroom/dougongniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,824},{176,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,43}</string>
			</dict>
			<key>image/createroom/game_psz_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,977},{219,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,44}</string>
			</dict>
			<key>image/createroom/img_input_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,525},{202,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,45}</string>
			</dict>
			<key>image/createroom/img_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,977},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>
			<key>image/createroom/img_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,467},{437,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{437,35}</string>
			</dict>
			<key>image/createroom/mingpaiqiangzhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,778},{173,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,44}</string>
			</dict>
			<key>image/createroom/mjttz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,948},{220,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,43}</string>
			</dict>
			<key>image/createroom/neice.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,63},{56,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,62}</string>
			</dict>
			<key>image/createroom/option_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,948},{148,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,56}</string>
			</dict>
			<key>image/createroom/pinsanzhang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,633},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/pinsanzhang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,733},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/pkttz.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,850},{219,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,43}</string>
			</dict>
			<key>image/createroom/pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,325},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>image/createroom/pop1.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1},{647,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{647,51}</string>
			</dict>
			<key>image/createroom/pop2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{632,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,60}</string>
			</dict>
			<key>image/createroom/pop3.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,1},{630,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{630,59}</string>
			</dict>
			<key>image/createroom/pop4.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,477},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>image/createroom/slider_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,412},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>image/createroom/text_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,633},{597,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{597,51}</string>
			</dict>
			<key>image/createroom/tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,541},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>image/createroom/title_create_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1},{464,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{464,63}</string>
			</dict>
			<key>image/createroom/title_niuniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,650},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_niuniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,895},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_niuye1.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,686},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_niuye2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,686},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_qionghai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,686},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_qionghai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,686},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_sg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,686},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_sg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,768},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_ttz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,1},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_ttz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,263},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_ysniuniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/title_ysniuniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,263},{260,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,80}</string>
			</dict>
			<key>image/createroom/tongbiniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,568},{175,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,43}</string>
			</dict>
			<key>image/createroom/type_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,906},{255,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,79}</string>
			</dict>
			<key>image/createroom/type_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,63},{255,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,79}</string>
			</dict>
			<key>image/createroom/wenhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,987},{33,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,35}</string>
			</dict>
			<key>image/createroom/ysqiangzhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,568},{174,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,43}</string>
			</dict>
			<key>image/createroom/yuanshuaiqiangzhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,63},{174,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,43}</string>
			</dict>
			<key>image/createroom/ziyouqiangzhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,239},{171,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,43}</string>
			</dict>
			<key>image/createroom/bgItemD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,995},{247,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,27}</string>
			</dict>
			<key>image/createroom/bgItemM.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,320},{227,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,77}</string>
			</dict>
			<key>image/createroom/bgItemTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,633},{98,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,10}</string>
			</dict>
			<key>image/createroom/bgItemU.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,320},{246,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>createroom.png</string>
			<key>realTextureFileName</key>
			<string>createroom.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>